<h1>Songs!</h1>

<h2>Song Search Results</h2>

<ul>
  {{#each resultList}}
  <iframe src="https://open.spotify.com/embed/track/" + {{id}} width="300" height="80" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe>
  {{/each}}
</ul>