form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: #3f3e66;
  overflow: hidden;
}

h2 {
  color: #ffe0ac;
  text-align: center;
}

.signUpButton {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}

button {
  font-family: 'tw_cen_mt_stdbold';
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  user-select: none;
}

.signUpButton:hover {
  cursor: pointer;
}

.signUpButton:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}
