body {
  background-color: #3f3e66;
}

/* Laptops/Desktops */
@media screen and (min-width: 1150px) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 700px;
    height: 500px;
  }

  .logo {
    width: 270px;
    height: 270px;
    margin-top: 55px;
    margin-left: 45px;
    position: relative;
  }

  .play,
  .logo {
    display: inline;
    position: relative;
  }

  .video-play-button {
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 44%;
    left: 32%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}

/* iPhone 5/SE */
@media screen and (max-width: 320px) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 400px;
    height: 300px;
  }

  .logo {
    width: 190px;
    height: 190px;
    left: 15%;
    text-align: center;
    position: relative;
  }

  .video-play-button {
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 38%;
    left: 32%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}
/* iPhone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 400px;
    height: 300px;
  }

  .logo {
    width: 190px;
    height: 190px;
    left: 5%;
    text-align: center;
    position: relative;
  }

  .video-play-button {
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 32%;
    left: 29%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}

/* iPhone 6/7/8 Plus */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 400px;
    height: 300px;
  }

  .logo {
    width: 190px;
    height: 190px;
    margin-right: 30px;
    position: relative;
  }

  .video-play-button {
    position: relative;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 40%;
    left: 15%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 400px;
    height: 300px;
  }

  .logo {
    width: 200px;
    height: 200px;
    left: 5%;
    position: relative;
  }

  .video-play-button {
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 28%;
    left: 28%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}

/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    background-color: #3f3e66;
    margin-top: 100px;
  }
  .gif {
    width: 500px;
    height: 400px;
    margin-top: 100px;
  }

  .logo {
    width: 240px;
    height: 240px;
    top: 26%;
    text-align: center;
    position: relative;
  }

  .video-play-button {
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    z-index: 10;
    top: 37%;
    left: 22%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffe0ac;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#ffe0ac, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #3f3e66;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}
