body {
  background-color: #3f3e66;
  height: 850px;
}

header {
  background-color: #ffe0ac;
  padding: 0;
  border: 0;
  height: 100px;
  z-index: -1;
}

.header img {
  margin-bottom: 25px;
}

.header h1 {
  color: #3f3e66;
  font-family: 'tw_cen_mt_stdbold';
  padding-left: 10px;
  display: inline;
  line-height: 1.5em;
}

h4 {
  font-family: 'tw_cen_mt_stdbold';
  font-size: 32px;
}

.vertical-center {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.signUpButton {
  background: #3498db;
  width: 180px;
  padding: 4px 0;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
}

button {
  font-family: 'tw_cen_mt_stdbold';
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  user-select: none;
}

.signUpButton:hover {
  cursor: pointer;
}

.signUpButton:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 50%;
  background-color: darken(#f1c40f, 20%);
  opacity: 0.4;
  bottom: -30px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.loginButton {
  width: 180px;
  height: 60px;
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffe0ac;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #ffe0ac;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.formContainer {
  z-index: 11;
  float: right;
  margin-top: -200px;
  max-width: 365px;
  margin-left: 825px;
  position: absolute;
}

.searchButtonContainer {
  margin-top: 50px;
}

label,
p,
h2,
h4,
li {
  color: #ffe0ac;
}

.songsToRate {
  z-index: 11;
  float: left;
  margin-top: -200px;
  max-width: 430px;
  margin-left: 50px;
}

.rateButton {
  margin-top: -70px;
  margin-left: 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.results {
  z-index: 11;
  text-align: center;
  margin-top: -200px;
  max-width: 430px;
  margin-left: 50px;
}

.suggestedSongs {
  z-index: 15;
  margin-left: 725px;
  padding: 0px;
  max-width: 500px;
  position: relative;
}

.containerRow {
  width: 400px;
  padding: 0px;
}

.form-group {
  width: 325px;
  height: 100px;
}

.incomplete-playlistlist {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.incompleteDiv {
  margin-top: -150px;
  text-align: center;
}
